body{
    background-color:transparent;
}
h1{
  text-shadow: 0px 0px 5px yellow,0px -5px 5px red;
}
h1:hover{
    box-shadow :5px 5px 5px black

}
.box1{
border:1px;
height: 300px;
width: 300px;
background-color: blue;
position:relative ;
top :20px;
left:200px;




}
.box2{
    border:1px;
    height: 100px;
    width: 100px;
    background-color: red;
    position:absolute;
    top:36%;
    left:35%;
    bottom:100%;
    
    
}

a:link{
    color:yellow;
}
a:visited{
    color:green;
}
a:hover{
    color:tomato;

}
a.active{
    color:grey;
}
button:hover{
    background-color:black ;
    color :red;
}
li:nth-child(odd){
 background-color: yellow;
}
li:nth-child(even){
    background-color: green;
   }
   .fa-youtube{
    color:red;
    margin: 3%;
   }
   .fa-twitter{
 color:rgb(0, 147, 205);
 margin: 3%;
   }
   .fa-instagram{
    color: rgba(240, 20, 207, 0.973);
    margin: 3%;
   }
   .fa-home{
    margin: %;
   }
   .fa-search{
    margin: 5%;
   }
   .icons{
    margin-left: 73%;
   }
   .icons:hover{
    box-shadow: 4px 5px 5px black ;
   }
   
   /* .box{
  border: 4px  solid ;
    height: 100px;
    width: 100px;
    background-color: blue  ;
    text-align: center;
    font-size: 100px;
    transform: translateX(5000px);
    transform: translateY(79px);
    transform: translate(50px,50px) ;
    transform: rotateX(180deg);
    transform: rotate(180deg) ;
    transform: scaleX(5);
    transform :scaley(5);
    transform: scale(5,5);
    transform:skew(45deg,5deg);
      
   
   } */