
        body{
            background-color:white;
        
         
        }
        h1{
            color: white;
            background-color: rgb(176, 22, 22);
            text-align: center;
            border: 100px;
            border-color: white;
            margin-left:100px;
            margin-right:100px;
        
        }

.box{
  
    color:black  ;
    margin: 10px;
    margin-top:10px;
    margin-bottom :2px;
    margin-left:1px;
    margin-right:1px;
    padding:20px;
    text-align: center;
    text: size adjust 10000px;
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}            
.box1{

    color:black  ;
 margin:10px;
 margin-left: 1px;
 margin-right:1px;
padding: 20px;
text-align: center;
font-size:large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}     
            
.img1{
    height:100px;
    width:100px;
    margin:10px;
    margin-left:300px;
    margin-top:100px;
    margin-bottom:300px;
}
.img2{
    height:1000px;
    width: 1000px;
    margin-left:58px;
    margin-bottom: 200px;
}
.img3{
 height:100px;
 width:10px;
 margin:10px;
 margin-left:500px;
 margin-top:100px;
 margin-bottom:100px;
}